body{
  background-color:white;
  font-family: 'Quicksand', sans-serif;
}
hr{
  border-style: dotted none none;
  border-color: #66bfbf;
  border-width: 6px;
  width: 10%;
}

a{
  color:#3695d9;
  text-decoration-line: none;
  font-family: 'Noto Sans JP', sans-serif;
}
h1{
  color: #06623b;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color: #06623b;
  font-family: 'Montserrat', sans-serif;
}
a{
  
}
a:visited{
  color:#fd5e53;
}
a:hover{
  color: #66bfbf;
}
